---
import { getEntry } from "astro:content";
import MarkdownPostLayout from "#layouts/MarkdownPostLayout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
// const allPosts = await getCollection("docs");

const article: ReturnType<typeof getEntry> = await getEntry(
  "patterns",
  "pattern-example"
);
const { Content } = await article.render();
---

<MarkdownPostLayout frontmatter={article?.data}>
  <Content />
  <hr />
  <section>
    <CollectionList to="content" collection="content" pageSize={10} />
  </section>
</MarkdownPostLayout>

<!-- 

    # src/pages/patterns/index.astro
  
  ## Overview
  
  This file is an Astro page component that renders a pattern example article along with a list of content entries from the "content" collection. It serves as an index page for the "patterns" section of the website.
  
  ## Functionality
  
  1. **Importing Dependencies**:
     - `getEntry` from `astro:content` is imported to fetch a specific entry from the content collection.
     - `MarkdownPostLayout` and `CollectionList` components are imported from local paths.
  
  2. **Fetching Pattern Example Entry**:
     - The `getEntry` function is used to fetch the "pattern-example" entry from the "patterns" collection.
     - The rendered content of the entry is stored in the `Content` variable.
  
  3. **Rendering the Page**:
     - The `MarkdownPostLayout` component is used to render the pattern example entry's content and frontmatter data.
     - A horizontal rule (`<hr />`) is added for visual separation.
     - The `CollectionList` component is rendered, which displays a list of entries from the "content" collection.
       - The `to` prop specifies the base URL for the list items.
       - The `collection` prop specifies the collection to fetch entries from.
       - The `pageSize` prop limits the number of entries displayed to 10.
  
  ## Usage
  
  This page serves as an entry point for the "patterns" section of the website. It displays a specific pattern example article along with a list of related content entries. Developers can use this page as a starting point to explore and understand the pattern examples and associated content.
  
  ## Customization
  
  To modify the behavior of this page, you can:
  
  - Change the entry fetched by modifying the `getEntry` call with a different collection and entry slug.
  - Adjust the layout or styling by modifying the imported `MarkdownPostLayout` component.
  - Customize the content list by modifying the `CollectionList` component's props or replacing it with a different component.
  
  

 -->
