<img src="/images/patterns.webp" alt="" />
<h3>Inclusive Patterns</h3>

<p>
  Explore inclusive design patterns that are easy, fun, accesssible, stylish and
  user-friendly. Join our A11y challenges to showcase or improve your design or
  coding skills in accessibility.!
</p>
<div class="align-right">
  <a
    href="#"
    class="button-continue"
    aria-label="Continue reading Inclusive Patterns"
  >
    <b aria-hidden="true">Continue reading </b>
  </a>
</div>
