---
import Layout from "#layouts/Layout.astro";
import { getCollection } from "astro:content";
const publishedBlogEntries = await getCollection("posts", ({ data }) => {
  return data?.draft !== true && data.category === "patterns";
});
---

<Layout pageTitle="Inclusive Patterns">
  <h1>Patterns</h1>
  <p>
    Explore inclusive design patterns that are easy, fun, accesssible, stylish
    and user-friendly. Join our A11y challenges to showcase or improve your
    design or coding skills in accessibility.!
  </p>
  <hr />
</Layout>
