---
import { getCollection } from "astro:content";
export type Props = {
  postListTitle: string;
  postLength: number;
};

const {  postListTitle, postLength } = Astro.props;
const postsResults = (await getCollection("posts"))

  .filter(({ data }) => {
    return data.draft === false;
  })
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const paginatedPosts = postsResults.slice(0, postLength || 10);
---

<h4 data-ui="display">
  {postListTitle}
</h4>
<ul data-list="unstyled">
  {
    paginatedPosts?.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>{post.data.title} </a>
      </li>
    ))
  }
</ul>
