---
import { getCollection } from "astro:content";
import { type TODO } from "#utils/types.js";
const collection = Astro.props?.collection || "Tags";
const collectionTag = Astro.props.collectionTag || "posts";
const allPosts = await getCollection(collectionTag);
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
type Props = {
  showTitle?: boolean;
  collection?: string;
  collectionTag?: string | TODO;
};
const { showTitle } = Astro.props as Props;
---

{ showTitle && 
<h4 data-ui="display">
  {collection}
</h4>
}
<ul data-list="unstyled">
  {
    tags?.map((tag) => (
      <li class="tag">
        <a href={`/tags/${tag}`} class="inverse">
          <i>{tag}</i>
        </a>
      </li>
    ))
  }
</ul>
<style>
  a {
    text-transform: capitalize;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    flex-direction: row;
  }
  li {
    list-style: none;
    display: inline-block;
  }
</style>
