
header {
    min-height: fit-content;
    padding-block: 2rem;
    grid-template-rows: minmax(18.75rem, auto);
    background-color: transparent;
    margin-block: 0;
    > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      max-width: min(100%, 80%);
  
      h1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: unset;
        font-size: clamp(1.5rem, var(--h1), 5.625rem);
        line-height: 1.1;
        text-wrap: balance;
        word-break: keep-all;
        hyphens: auto;
      }
  
      > p {
        font-family: var(--roboto-serif, "Roboto Serif");
        font-size: var(--fs-7, 2.25rem);
        color: var(--cafe-primary-700);
        font-style: normal;
        font-weight: 400;
        line-height: 1.6; /* 2.7rem */
      }
    }
  }
  