@use "./ally-cafe.css";
@use "./styles.css";

body {
  min-width: 20.3125rem;
  font-family: Inter;
  background: var(--cafe-accent-50, #fbfdfe);
  border-top: var(--cafe-primary-800) solid 0.75rem;
  height: 100%;
}

main {
  padding-block: 2rem;
}

main {
  > section {
    padding-inline: 2rem;
  }
}

header {
  min-height: fit-content;
  padding-block: 2rem;
  grid-template-rows: minmax(18.75rem, auto);
}

.justify-center {
  justify-content: center;
}

body {
  > nav {
    min-height: 5rem;
    padding-block: 3rem;
    // max-width: 100rem;
    // min-width: 100rem;
    // margin-inline: auto;
    @media screen and (max-width: 580px) {
      flex-direction: column;
      height: unset;
      gap: 0.4rem;
      min-height: unset;
      padding-block: unset;
    }
  }
}
body > nav ul > li:hover {
  background-color: transparent;
}

header {
  background-color: transparent;

  height: max(21.875rem, 31.25rem);
}

header {
  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    > p {
      font-family: var(--fontFamily-Roboto-Serif, "Roboto Serif");
      font-size: var(--fontSize-36, 2.25rem);
      color: var(--cafe-primary-700);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 2.7rem */
    }
  }
}

section {
  > div {
    text-align: unset;
    + div {
      margin-block-start: unset;
    }
  }
  &:has(.features),
  &:has([data-grid]) {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 3rem;
    max-width: 92.5rem;
    margin-inline: auto;
    // padding-inline: 2rem;
    justify-content: center;
    gap: 2.625rem;
    @media screen and (max-width: 1080px) {
      justify-content: center;
    }
    .features,
    [data-grid] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex-basis: calc(30% - 10px);
      min-width: 300px;
      width: max(300px, 100%);
      h3 {
        margin-block-end: unset;
      }
      p {
        flex: 2;
        line-height: 1.8;
        font-size: var(--fs-5);
      }
    }
  }
}

header > section header > section > h1 {
  line-height: 1.2;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--cafe-primary-700);
  text-transform: capitalize;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
  line-height: 1.2;
}

h2[data-ui~="display"] {
  --weight: 500;
}

a[href] {
  color: var(--cafe-primary-600);
}

a[href]:hover {
  color: var(--cafe-ally-coffe-dark-hover);
}

h2 a[href] {
  font-size: var(--h2);
  /* color: #865434; */
}

h3 {
  color: var(--cafe-primary-700, #481416);
  font-family: "Roboto Serif";
  font-size: var(--h3);
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
}

footer > div {
  flex-direction: column;
}

* + section {
  margin-block-start: 2rem;
}

section:has(> nav) {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

article > * + * {
  margin-block-start: 1.5rem;
}

article p {
  max-width: 80ch;
  line-height: 1.8;
}

article img {
  /* border: 2px lightgray solid; */
  border-radius: 0.3rem;
}

code {
  color: rgb(158, 49, 49);
  font-size: smaller;
}

article li {
  font-size: unset;
  font-size: var(--fs-0);
}

p {
  max-width: 60ch;
}

article > figure:has(img[alt]) {
  min-width: 100%;
  background-color: transparent;
  border-radius: 0;
}

article > figure > img[alt] {
  min-width: 100%;
  border-radius: 0;
}

.gochi {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

.roboto-serif-md {
  font-weight: 600;
}

a[href] {
  > b {
    --btn-fs: var(--font-size-21);
    padding-inline: calc(var(--btn-fs) * 2);
    padding-block: var(--btn-fs);
    width: fit-content;
    border-radius: var(--radius-pill, 6.1875rem);
    background-color: var(--cafe-secondary-700, #6b4229);
    color: var(--cafe-gray-50);
    font-family: Roboto, sans-serif;
    font-size: var(--btn-fs);
  }
  &:hover {
    text-decoration: none;
  }
}

.align-right {
  display: flex;
  text-align: right;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.text-p {
  font-family: "Roboto Serif";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
