:root {
  /* TYPE */
  --ally-cafe-lg-family: "Gochi Hand";
  --ally-cafe-lg-size: 160.02px;
  --ally-cafe-lg-size-rem: 10.0011rem;
  --ally-cafe-lg-weight: 400;
  --ally-cafe-lg-style: normal;
  --heading-feature-family: "Inter";
  --heading-feature-size: 32px;
  --heading-feature-size-rem: 2rem;
  --heading-feature-weight: 600;
  --heading-feature-style: normal;
  --cafe-title-family: "Roboto Slab";
  --cafe-title-size: 32px;
  --cafe-title-size-rem: 2rem;
  --cafe-title-weight: 600;
  --cafe-title-style: normal;
  --ally-display1-family: "Inter";
  --ally-display1-size: 236px;
  --ally-display1-size-rem: 14.75rem;
  --ally-display1-weight: 400;
  --ally-display1-style: normal;
  --ally-display1-line-height: 120%;
  --ally-display2-family: "Inter";
  --ally-display2-size: 181px;
  --ally-display2-size-rem: 11.3125rem;
  --ally-display2-weight: 400;
  --ally-display2-style: normal;
  --ally-display2-line-height: 120%;
  --ally-display3-family: "Inter";
  --ally-display3-size: 138px;
  --ally-display3-size-rem: 8.625rem;
  --ally-display3-weight: 400;
  --ally-display3-style: normal;
  --ally-display3-line-height: 120%;
  --ally-h1-family: "Inter";
  --ally-h1-size: 105px;
  --ally-h1-size-rem: 6.5625rem;
  --ally-h1-weight: 400;
  --ally-h1-style: normal;
  --ally-h1-line-height: 120%;
  --ally-h2-family: "Inter";
  --ally-h2-size: 80px;
  --ally-h2-size-rem: 5rem;
  --ally-h2-weight: 400;
  --ally-h2-style: normal;
  --ally-h2-line-height: 120%;
  --ally-h3-family: "Inter";
  --ally-h3-size: 61px;
  --ally-h3-size-rem: 3.8125rem;
  --ally-h3-weight: 400;
  --ally-h3-style: normal;
  --ally-h3-line-height: 120%;
  --ally-h4-family: "Inter";
  --ally-h4-size: 47px;
  --ally-h4-size-rem: 2.9375rem;
  --ally-h4-weight: 400;
  --ally-h4-style: normal;
  --ally-h4-line-height: 120%;
  --ally-h5-family: "Inter";
  --ally-h5-size: 36px;
  --ally-h5-size-rem: 2.25rem;
  --ally-h5-weight: 400;
  --ally-h5-style: normal;
  --ally-h5-line-height: 120%;
  --ally-title1-family: "Inter";
  --ally-title1-size: 27px;
  --ally-title1-size-rem: 1.6875rem;
  --ally-title1-weight: 400;
  --ally-title1-style: normal;
  --ally-title1-line-height: 120%;
  --ally-title2-family: "Inter";
  --ally-title2-size: 21px;
  --ally-title2-size-rem: 1.3125rem;
  --ally-title2-weight: 400;
  --ally-title2-style: normal;
  --ally-title2-line-height: 120%;
  --ally-body1-family: "Inter";
  --ally-body1-size: 16px;
  --ally-body1-size-rem: 1rem;
  --ally-body1-weight: 400;
  --ally-body1-style: normal;
  --ally-body1-line-height: 120%;
  --ally-body2-family: "Inter";
  --ally-body2-size: 12px;
  --ally-body2-size-rem: 0.75rem;
  --ally-body2-weight: 400;
  --ally-body2-style: normal;
  --ally-body2-line-height: 120%;
  --ally-small-family: "Inter";
  --ally-small-size: 9px;
  --ally-small-size-rem: 0.5625rem;
  --ally-small-weight: 400;
  --ally-small-style: normal;
  --ally-small-line-height: 120%;
  --ally-display1-bold-family: "Inter";
  --ally-display1-bold-size: 236px;
  --ally-display1-bold-size-rem: 14.75rem;
  --ally-display1-bold-weight: 600;
  --ally-display1-bold-style: normal;
  --ally-display1-bold-line-height: 120%;
  --ally-display2-bold-family: "Inter";
  --ally-display2-bold-size: 181px;
  --ally-display2-bold-size-rem: 11.3125rem;
  --ally-display2-bold-weight: 600;
  --ally-display2-bold-style: normal;
  --ally-display2-bold-line-height: 120%;
  --ally-display3-bold-family: "Inter";
  --ally-display3-bold-size: 138px;
  --ally-display3-bold-size-rem: 8.625rem;
  --ally-display3-bold-weight: 600;
  --ally-display3-bold-style: normal;
  --ally-display3-bold-line-height: 120%;
  --ally-h1-bold-family: "Inter";
  --ally-h1-bold-size: 105px;
  --ally-h1-bold-size-rem: 6.5625rem;
  --ally-h1-bold-weight: 600;
  --ally-h1-bold-style: normal;
  --ally-h1-bold-line-height: 120%;
  --ally-h2-bold-family: "Inter";
  --ally-h2-bold-size: 80px;
  --ally-h2-bold-size-rem: 5rem;
  --ally-h2-bold-weight: 600;
  --ally-h2-bold-style: normal;
  --ally-h2-bold-line-height: 120%;
  --ally-h3-bold-family: "Inter";
  --ally-h3-bold-size: 61px;
  --ally-h3-bold-size-rem: 3.8125rem;
  --ally-h3-bold-weight: 600;
  --ally-h3-bold-style: normal;
  --ally-h3-bold-line-height: 120%;
  --ally-h4-bold-family: "Inter";
  --ally-h4-bold-size: 47px;
  --ally-h4-bold-size-rem: 2.9375rem;
  --ally-h4-bold-weight: 600;
  --ally-h4-bold-style: normal;
  --ally-h4-bold-line-height: 120%;
  --ally-h5-bold-family: "Inter";
  --ally-h5-bold-size: 36px;
  --ally-h5-bold-size-rem: 2.25rem;
  --ally-h5-bold-weight: 600;
  --ally-h5-bold-style: normal;
  --ally-h5-bold-line-height: 120%;
  --ally-title1-bold-family: "Inter";
  --ally-title1-bold-size: 27px;
  --ally-title1-bold-size-rem: 1.6875rem;
  --ally-title1-bold-weight: 600;
  --ally-title1-bold-style: normal;
  --ally-title1-bold-line-height: 120%;
  --ally-title2-bold-family: "Inter";
  --ally-title2-bold-size: 21px;
  --ally-title2-bold-size-rem: 1.3125rem;
  --ally-title2-bold-weight: 600;
  --ally-title2-bold-style: normal;
  --ally-title2-bold-line-height: 120%;
  --ally-body1-bold-family: "Inter";
  --ally-body1-bold-size: 16px;
  --ally-body1-bold-size-rem: 1rem;
  --ally-body1-bold-weight: 600;
  --ally-body1-bold-style: normal;
  --ally-body1-bold-line-height: 120%;
  --ally-body2-bold-family: "Inter";
  --ally-body2-bold-size: 12px;
  --ally-body2-bold-size-rem: 0.75rem;
  --ally-body2-bold-weight: 600;
  --ally-body2-bold-style: normal;
  --ally-body2-bold-line-height: 120%;
  --ally-small-bold-family: "Inter";
  --ally-small-bold-size: 9px;
  --ally-small-bold-size-rem: 0.5625rem;
  --ally-small-bold-weight: 600;
  --ally-small-bold-style: normal;
  --ally-small-bold-line-height: 120%;

  /* COLORS */
  --a11y-tea: #aa9d7d;
  --nero-100: #e6e6e6;
  --nero-200: #cbcbcb;
  --nero-300: #9f9f9f;
  --nero-400: #797979;
  --nero-500: #595959;
  --nero-600: #3f3f3f;
  --nero-700: #2b2b2b;
  --nero-800: #1b1b1b;
  --nero-900: #0e0e0e;
  --neutral-100: #eeeeee;
  --neutral-200: #dddddd;
  --neutral-300: #cacaca;
  --neutral-400: #b5b5b5;
  --neutral-500: #9e9e9e;
  --neutral-600: #8d8d8d;
  --neutral-700: #7a7a7a;
  --neutral-800: #636363;
  --neutral-900: #464646;
  --errors-100: #f8e4e5;
  --errors-200: #f2c6c9;
  --errors-300: #eca2a9;
  --errors-400: #e57380;
  --errors-500: #df1642;
  --errors-600: #c7133b;
  --errors-700: #ac1133;
  --errors-800: #8d0d29;
  --errors-900: #63091d;
  --warning-100: #fff2e5;
  --warning-200: #ffe6c8;
  --warning-300: #ffd8a7;
  --warning-400: #ffca7c;
  --warning-500: #ffbb38;
  --warning-600: #e4a732;
  --warning-700: #c5902b;
  --warning-800: #a17623;
  --warning-900: #725319;
  --success-100: #e4f0e7;
  --success-200: #c6e0cd;
  --success-300: #a2cfae;
  --success-400: #74bd8a;
  --success-500: #18a957;
  --success-600: #15974d;
  --success-700: #128243;
  --success-800: #0f6a37;
  --success-900: #0a4b26;
  --primary-100: #e5e7fd;
  --primary-200: #c9ccfb;
  --primary-300: #a8adf9;
  --primary-400: #7e88f7;
  --primary-500: #3d53f5;
  --primary-600: #364adb;
  --primary-700: #2f40bd;
  --primary-800: #26349a;
  --primary-900: #1b256d;
  --secondary-100: #e4f3f6;
  --secondary-200: #c5e6ee;
  --secondary-300: #a1d9e6;
  --secondary-400: #72cbdd;
  --secondary-500: #00bcd4;
  --secondary-600: #00a8bd;
  --secondary-700: #0091a4;
  --secondary-800: #007686;
  --secondary-900: #00545e;
  --cafe-ally-coffe-light: #f7f0ec;
  --cafe-ally-coffe-light-hover: #f3e9e3;
  --cafe-ally-coffe-light-active: #e7d2c4;
  --cafe-ally-coffe-normal: #b06d42;
  --cafe-ally-coffe-normal-hover: #9e623b;
  --cafe-ally-coffe-normal-active: #8d5735;
  --cafe-ally-coffe-dark: #845232;
  --cafe-ally-coffe-dark-hover: #6a4128;
  --cafe-ally-coffe-dark-active: #4f311e;
  --cafe-ally-coffe-darker: #3e2617;
  --cafe-ally-tea-light: #f7f5f2;
  --cafe-ally-tea-light-hover: #f2f0ec;
  --cafe-ally-tea-light-active: #e5e1d7;
  --cafe-ally-tea-normal: #aa9d7d;
  --cafe-ally-tea-normal-hover: #998d71;
  --cafe-ally-tea-normal-active: #887e64;
  --cafe-ally-tea-dark: #80765e;
  --cafe-ally-tea-dark-hover: #665e4b;
  --cafe-ally-tea-dark-active: #4c4738;
  --cafe-ally-tea-darker: #3b372c;

  /* GRADIENTS */
  --coffee-gradient-feat-stop-1-color: #4a311b;
  --coffee-gradient-feat-stop-1-position: 0%;
  --coffee-gradient-feat-stop-2-color: #7d532e;
  --coffee-gradient-feat-stop-2-position: 50%;
  --coffee-gradient-feat-stop-3-color: #4a311b;
  --coffee-gradient-feat-stop-3-position: 100%;

  /* SHADOWS */
  --cafe-elevation-100: 0 2px 8px 0 rgba(0 0 0 / 0.12);
  --cafe-elevation-200: 0 4px 12px 0 rgba(0 0 0 / 0.16);
  --cafe-elevation-300: 0 8px 16px 0 rgba(0 0 0 / 0.12);
  --cafe-elevation-400: 0 8px 32px 0 rgba(0 0 0 / 0.16);
}
