---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About the A11y Cafe";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout pageTitle={pageTitle}>
  <p>
    Welcome to the About page of A11y Cafe, your go-to destination for all
    things accessibility! We are passionate about creating an inclusive online
    experience for everyone, regardless of their abilities or disabilities. Our
    team of experts is dedicated to providing valuable insights, tips, and
    resources to help you navigate the world of web accessibility with ease.
  </p>

  <p>
    At A11y Cafe, we believe that accessibility is not just a buzzword, but a
    fundamental right. We understand the challenges that people with
    disabilities face when accessing websites and digital content, and we are
    committed to breaking down those barriers. Our mission is to promote best
    practices in accessibility and to empower developers, designers, and content
    creators to build websites that are usable by all.
  </p>

  <p>
    Whether you are a seasoned accessibility professional or just starting your
    journey, A11y Cafe has something for you. We offer a wide range of articles,
    tutorials, and case studies that cover various aspects of accessibility,
    from basic principles to advanced techniques. Our content is carefully
    curated and regularly updated to ensure that you stay up-to-date with the
    latest trends and technologies in the field.
  </p>
  <p>
    In addition to our educational resources, A11y Cafe also serves as a
    platform for community engagement and collaboration. We encourage our
    readers to share their experiences, ask questions, and contribute to the
    conversation around accessibility. Together, we can build a more inclusive
    and accessible web for everyone. So grab a cup of coffee, explore our site,
    and join us in our mission to make the digital world a better place for all.
  </p>
</Layout>
