---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/CollectionList.astro";
---

<Layout
  pageTitle="We make Accessibility fun!"
  showBreadcrumb={false}
  showFeature={true}
>
  <section>
    <CollectionList
      showPagination={false}
      itemsPerPage={5}
      collection="posts"
      category={["articles"]}
    />
  </section>
  <hr />
  <section>
    <CollectionList
      showPagination={false}
      itemsPerPage={10}
      pageSize={10}
      collection="posts"
    />
  </section>
</Layout>
