---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Welcome from "#components/Welcome.astro";
---

<Layout
  pageTitle="We make Accessibility fun!"
  showBreadcrumb={false}
  showFeature={true}
>
  <Welcome />
  <section>
    <CollectionList pageSize={2} />
  </section>
</Layout>
