---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
---

<Layout
  pageTitle="We make Accessibility fun!"
  showBreadcrumb={false}
  showFeature={true}
>
  <section>
    <CollectionList
      showPagination={true}
      itemsPerPage={15}
      collection="posts"
    />
  </section>
</Layout>
