---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Welcome from "#components/Welcome.astro";
const description =
  "Explore inclusive design patterns that are easy, fun, accesssible, stylish and user-friendly. ";
---

<Layout
  pageTitle="Inclusive Patterns"
  showBreadcrumb={false}
  pageDescription={description}
  showBreadcrumb={true}
>
  <section>
    <CollectionList pageSize={5} />
  </section>
</Layout>
