---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Welcome from "#components/Welcome.astro";
const description =
  "Have a sip of tea or coffe while as you peruse our collection of reviews and ratings of accessible products and services or browse our curated list of accessibility tools and resources.";
---

<Layout
  pageTitle="Reviews and Resources"
  showBreadcrumb={false}
  pageDescription={description}
  showBreadcrumb={true}
>
  <section>
    <CollectionList pageSize={5} />
  </section>
</Layout>
