---

---

<>
  <div class="features">
    <img src="/images/patterns.webp" alt="" />
    <h3>Inclusive Patterns</h3>

    <p>
      Explore patterns that make accessibility a breeze and tackle our weekly
      challenges to refine your design skills. Create spaces that welcome
      everyone!
    </p>
    <div class="align-right">
      <a href="#" class="button-continue">
        <b>Continue Reading</b>
      </a>
    </div>
  </div>
  <div class="features">
    <img src="/images/guide.webp" alt="" />
    <h3>A11y Guides</h3>
    <p style="flex: 2rem;">
      Master our practical guidelines to elevate your project's accessibility.
      These tips ensure you meet essential standards, making your content usable
      for all.
    </p>
    <div class="align-right">
      <a href="#" class="button-continue">
        <b>Continue Reading</b>
      </a>
    </div>
  </div>
  <div class="features">
    <img src="/images/reviews.webp" alt="" />
    <h3>Reviews &amp; Resources</h3>
    <p>
      Dive into our curated reviews and resources, your toolkit for crafting
      accessible content that resonates with everyone. Stay ahead with the best
      in a11y practices!
    </p>
    <div class="align-right">
      <a href="#" class="button-continue">
        <b>Continue Reading</b>
      </a>
    </div>
  </div>
</>
