---

---

<div class="features" data-grid>
  <img src="/images/patterns.webp" alt="" />
  <h3>Inclusive Patterns</h3>

  <p>
    Explore inclusive design patterns that are easy, fun, accesssible, stylish
    and user-friendly. Join our A11y challenges to showcase or improve your
    design or coding skills in accessibility.!
  </p>
  <div class="align-right">
    <a
      href="#"
      class="button-continue"
      arial-label="Continue to Inclusive Patterns"
    >
      <b>Continue reading </b>
    </a>
  </div>
</div>
<div class="features">
  <img src="/images/guide.webp" alt="" />
  <h3>A11y Guides</h3>
  <p>
    Browse our easy-to-understand, practical guides that breakdown and simplify
    accessibility (A11y) standards and guidelines. We discuss now they impact
    your users, what they seek to do and the why behind them, along with
    real-world examples and best practices for implementation.
  </p>
  <div class="align-right">
    <a href="#" class="button-continue" aria-label="Continue to A11y Guides">
      <b>Continue reading </b>
    </a>
  </div>
</div>
<div class="features">
  <img src="/images/reviews.webp" alt="" />
  <h3>Reviews &amp; Resources</h3>
  <p>
    Sit down, have a sip of tea of coffe while as you peruse our collection of
    reviews and ratings of products and services and how they measure up on
    accessibility, Browse our curated list of resources—a virtual toolkit for
    creating content that is accessible and can resonates with all audiences.
  </p>
  <div class="align-right">
    <a
      href="#"
      class="button-continue"
      aria-label="Continue to Reviews & Resources"
    >
      <b>Continue reading </b>
    </a>
  </div>
</div>
