---

---

<>
  <div class="features">
    <h3>Inclusive Patterns</h3>
    <img src="/images/patterns.webp" alt="" />
    <p>
      Explore patterns that make accessibility a breeze and tackle our weekly
      challenges to refine your design skills. Create spaces that welcome
      everyone!
    </p>
  </div>
  <div class="features">
    <h3>Guidebook</h3>
    <img src="/images/guide.webp" alt="" />
    <p>
      Master our practical guidelines to elevate your project's accessibility.
      These tips ensure you meet essential standards, making your content usable
      for all.
    </p>
  </div>
  <div class="features">
    <h3>Reviews &amp; Resources</h3>
    <img src="/images/reviews.webp" alt="" />
    <p>
      Dive into our curated reviews and resources, your toolkit for crafting
      accessible content that resonates with everyone. Stay ahead with the best
      in a11y practices!
    </p>
  </div>
</>
