<section role="search">
  <form action="">
    <label for="search">Search</label>
    <div>
      <input
        type="search"
        id="search"
        name="search"
        placeholder="Search - patterns, guides, resources"
      />
      <button type="submit">Search</button>
      <button type="submit">AI</button>
    </div>
  </form>
  <ul aria-label="Search results" data-list="unstyled">
    <li>
      <a href="#">Search Result 1</a>
    </li>
    <li>
      <a href="#">Search Result 2</a>
    </li>
    <li>
      <a href="#">Search Result 3</a>
    </li>
    <li>
      <a href="#">Search Result 3</a>
    </li>
    <li>
      <a href="#">Search Result 3</a>
    </li>
    <li>
      <a href="#">Search Result 3</a>
    </li>
  </ul>
</section>
