---
import { SITE_TITLE } from "#utils/site-config.js";
---

<nav>
  <ul>
    <li>
      <a href="/" style="min-width: 12.5rem">
        <img
          src="/images/a11y-cafe-logo.png"
          alt={SITE_TITLE}
          width="221"
          height="59"
        />
      </a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/patterns">Patterns</a>
    </li>
    <li>
      <a href="/guides">Guides</a>
    </li>
    <li>
      <a href="/resources">Resources</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <span role="note">Beta</span>
    </li>
  </ul>
  <slot />
</nav>
