<nav>
  <ul>
    <li>
      <a href="/">
        <img
          src="/images/a11y-cafe-logo.png"
          width="221"
          height="59"
          alt="A11y Cafe Logo"
        />
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/content/1">Articles</a>
    </li>
    <li>
      <a href="/posts/1">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <slot />
</nav>
