<nav>
  <ul>
    <li>
      <a href="/">
        <img src="/images/a11y-logo.png" alt="" width="221" height="59" />
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/content/1">Articles</a>
    </li>
    <li>
      <a href="/posts/1">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <slot />
</nav>
