---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navigation from "#components/Navigation.astro";
import Footer from "#components/astro/Footer.astro";
import Header from "#components/astro/Header.astro";
import Sidebar from "#components/astro/Sidebar.astro";
import AstroBreadcrumb from "#components/react/astro-breadcrumb.tsx";
import { SITE_DESCRIPTION, SITE_TITLE } from "#utils/site-config";
import "@fpkit/react/styles";

// types
type routeItem = {
  name: string;
  url: string;
  path?: string;
};
type Props = {
  pageTitle?: string;
  pageDescription?: string;
  showHeader?: boolean;
  showNavigation?: boolean;
  showBreadcrumb?: boolean;
  breadcrumbRoutes?: routeItem[];
  showFeature: boolean;
};

const showBreadcrumb =
  Astro.props.showBreadcrumb === undefined ? true : Astro.props.showBreadcrumb;

const showHeader = Astro.props.showHeader || true;

const showNavigation = Astro.props.showNavigation || true;

const { pageTitle, pageDescription, breadcrumbRoutes, showFeature } =
  Astro.props;
import "../styles/index.css";
import Feature from "#components/Feature.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle || SITE_TITLE}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body>
    {showNavigation && <Navigation />}

    {
      showHeader && (
        <Header headerTitle={pageTitle} headerDescription={pageDescription} />
      )
    }
    {
      showFeature && (
        <section aria-label="Show site features" class="features">
          <Feature />
        </section>
      )
    }
    <main>
      {
        showBreadcrumb && (
          <section>
            <>
              <AstroBreadcrumb
                routes={breadcrumbRoutes || undefined}
                client:load
              />
            </>
          </section>
        )
      }

      <section arai-label="main-content">
        <article>
          <slot />
        </article>
        <Sidebar />
      </section>
    </main>
    <Footer />
  </body>
</html>
